# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/
*.orig.*

# Metro
.metro-health-check*

# Build
.tamagui/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.swp

# Testing
coverage/

# Typescript
*.tsbuildinfo

# Drizzle
drizzle/.snapshots