# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# Generated
*.g.dart
*.freezed.dart

# Env
.env
*.env.local

# OS
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/local.properties
android/app/release/
*.keystore
*.jks
key.properties
